@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
      "header header"
      "countries countries"
      "footer footer";
    margin: 0.625;
  }

  .finland,
  .russia,
  .japan,
  .sweden,
  .poland,
  .germany,
  .england,
  .swiss,
  .china,
  .thailand,
  .south-korea,
  .italy {
    background-color: var(--countrycard-color);
    min-width: 18.5rem;
    max-width: 20rem;
    min-height: 27rem;
    border-radius: 15px;
    border: 5px solid var(--countrycard-border-color);
    margin: 0.3125rem;
    margin-top: 0.75rem;
  }

  #scrollTop {
    display: flex;
    position: fixed;
    bottom: 5px;
    right: 30px;
    z-index: 90;
    border: none;
    outline: none;
    justify-content: center;
    background-color: var(--country-name-font);
    cursor: pointer;
    width: 50px;
    height: 45px;
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
  }

  .footer {
    color: var(--text-color);
    width: auto;
    height: 5vh;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--header-font);
    border-radius: 15px;
    border: 2px solid var(--text-color);
    margin: 0.3125rem;
    margin-bottom: 0.75rem;
    margin-top: 0.3125;
  }

  #scrollTop {
    display: flex;
    position: fixed;
    bottom: 60px;
    right: -18px;
    z-index: 90;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 20px;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
  }

  #scrollTop img {
    width: 35px;
    height: 35px;
  }
}
