/*
1ª FORMA DE FAZER - Fonte local
@font-face {
    font-family: 'PT Serif';
    src: url("./PT_Serif/PTSerif-Regular.ttf");
}

body {
    font-family: 'PT Serif','Times New Roman', serif;
}
*/

/*EM pega o tamanho do elemento pai
  REM pega o tamanho do viewport (resolução do navegador)*/

/*AS FAMÍLIAS TIPOGRÁFICAS PODEM TRAZER: IMPACTO ou LEGIBILIDADE (com serifa e sem serifa)*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #f9f7f1;
    font-family: 'PT Serif', serif;
    color: #404040;
    padding: 0 24px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 700; /*Peso da fonte de 100 a 950 | Quanto mais próximo do 950 maior o impacto da fonte (tipografia de impacto).*/
    line-height: 1; /*Aumenta a legibilidade | A altura da linha deve ser maior que o espaçamento das palavras.*/
    text-transform: uppercase; /*Em legibilidade capitalize é a melhor opção*/
}

/* SHORTHAND
    h1 {
    font: 700 4rem/1 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    }
*/

h2 {
    font: 3rem/0.95 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h3 {
    font: 2rem/0.95 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
}

time {
    font: 700 1.5rem 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;

    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;

    padding: 12px 0;

    display: block; /*O padding funciona melhor com display block/inline-block*/
}

time > sup {
    font-size: 0.875rem;
    font-weight: 500;
}

blockquote::before {
    /*content: "TESTE"; Pode ser utilizado para inserir imagens/ícones*/
    content: open-quote;
}

blockquote {
    font: 1.8rem/1.25 'Oswald', sans-serif; /*1.25 é a altura da linha, que deve ser visualmente maior que a distância entre as palavras*/
    margin: 1.5rem 2rem;
}

blockquote::after{
    content: close-quote;
}

@counter-style emoji { /*Criando um estilo de lista*/
    symbols: "\2615" "\1F35E" "\1F9C0";
    system: cyclic; /*Varia os símbolos da lista, o primeiro recebe um emoji, o segundo recebe outrro, etc..*/
    suffix: " "; /*Espaço vazio no final da lista*/
}

article ul {
    list-style: emoji; /*Usando o estilo de lista*/
}

img {
    filter: grayscale(100%);
}

figure {
    margin: 0 0 12px 0;
    text-align: center;
}

figcaption {
    font-family: 'Oswald', sans-serif;
}

@media(min-width: 955px) {
    article {
        column-count: 3; /*Divide o cobteúdo da página em colunas*/
        column-rule: 2px solid #333333;
        column-gap: 42px;
        margin-top: 36px; /*Aumento do distanciamento traz a sensação de proximidade*/
    }

    blockquote {
        column-span: all;
    }

    figure {
        break-inside: after; /*Define o comportamento da quebra dos elementos*/
    }
    
    p {
        text-align: justify;
        hyphens: auto;
    }
}