.container {
  max-width: 50%;
  margin: 0 auto;
}

.container .header {
  color: #0000ff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form .row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
}

.body .form > .row {
  padding: 5px;
}

.form button {
  display: block;
  background-color: #02bfb1;
  color: #fff;
  padding: 10px 45px;
  border: none;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.form button:hover {
  background-color: #028f7a;
}