@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  --text-color: #f0ebeb;
  --menu-text: #7bbfec;
  --header-background: radial-gradient(#5e97f3, #202d63);
  --country-name-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --country-info-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --header-font: "Grenze Gotisch", serif;
}

.header {
  grid-area: header;
  background: var(--header-background);
  border-radius: 15px;
  padding: 17px;
  margin: 0.625rem;
}

.countries {
  grid-area: countries;
}

.footer {
  grid-area: footer;
  background: var(--header-background);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.title {
  font-family: var(--header-font);
  text-align: center;
  color: var(--text-color);
  font-size: 2.9rem;
  margin: 0.625rem;
}

.menu {
  font-family: var(--header-font);
  display: flex;
  gap: 2px;
  justify-content: center;
  border-bottom: 6px solid transparent;
  padding: 0.3125rem;
  margin: 0.3125rem;
}

.menu li {
  list-style: none;
  display: inline-block;
  font-size: 1.4rem;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 0.4rem;
  color: var(--text-color);
}

.menu a:hover {
  background-color: #313133;
  color: #ffffff;
  border-bottom: 3px solid #f3f3f3;
}

.main-container {
  display: grid;
  width: 97vw;
  height: 95vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 1fr 0.3fr;
  grid-template-areas:
    "header    header    header    header"
    "countries countries countries countries"
    "footer    footer    footer    footer";
  margin: 1.125rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 0 15px;
  margin: 0px;
  background-image: url("../img/country-flags.png");
  background-repeat: space;
}

.finland,
.russia,
.japan,
.sweden,
.poland,
.germany,
.england,
.swiss,
.china,
.thailand,
.south-korea,
.italy {
  background-color: aliceblue;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 27rem;
  border-radius: 15px;
  border: 5px solid rgb(139, 138, 138);
  margin: 0.625rem;
}

.country-name {
  display: flex;
  justify-content: center;
  font-family: var(--country-name-font);
  padding: 10px 2px;
  margin: 10px;
}

.country-flag {
  display: flex;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 30px 15px;
  border: 2px solid #666262;
  border-radius: 20px;
  background: var(--header-background);
}

.country-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 10px;
  list-style: none;
  font-family: var(--country-info-font);
  text-align: center;
  padding: 10px;
  margin: 1.25rem;
}

.info-highlight {
  font-weight: bold;
}

.footer {
  color: var(--text-color);
  width: auto;
  height: 5vh;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 15px;
  border: 2px solid rgb(139, 138, 138);
}
