@media (max-width: 425px) {
  .header {
    grid-area: header;
    height: 20vh;
    background: var(--header-background);
    border-radius: 13px;
    padding: 10px;
    margin: 0.625rem;
  }

  .title {
    font-size: 2.7rem;
  }

  .menu li {
    font-size: 1.2rem;
  }

  .main-container {
    display: grid;
    width: 91vw;
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
      "header"
      "countries"
      "footer";
    margin: 18px;
  }

  .finland,
  .russia,
  .japan,
  .sweden,
  .poland,
  .germany,
  .england,
  .swiss,
  .china,
  .thailand,
  .south-korea,
  .italy {
    background-color: aliceblue;
    min-width: 18.5rem;
    min-height: 27rem;
    border-radius: 15px;
    border: 5px solid rgb(139, 138, 138);
    margin: 1.25rem;
  }

  .footer {
    color: var(--text-color);
    width: auto;
    height: 5vh;
    text-align: center;
    font-size: 0.9375rem;
    border-radius: 13px;
    border: 2px solid rgb(139, 138, 138);
  }
}

@media (max-width: 375px) {
  .header {
    grid-area: header;
    height: 27vh;
    background: var(--header-background);
    border-radius: 13px;
    padding: 10px;
    margin: 1.25rem;
  }

  .main-container {
    display: grid;
    width: 92vw;
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
      "header"
      "countries"
      "footer";
    margin: 0.625rem;
  }

  .finland,
  .russia,
  .japan,
  .sweden,
  .poland,
  .germany,
  .england,
  .swiss,
  .china,
  .thailand,
  .south-korea,
  .italy {
    background-color: aliceblue;
    min-width: 17.5rem;
    min-height: 27rem;
    border-radius: 15px;
    border: 5px solid rgb(139, 138, 138);
    margin: 1rem;
  }

  .footer {
    color: var(--text-color);
    width: 83vw;
    height: 5vh;
    text-align: center;
    font-size: 0.9375rem;
    border-radius: 13px;
    border: 2px solid rgb(139, 138, 138);
    margin-right: -30px;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .finland,
  .russia,
  .japan,
  .sweden,
  .poland,
  .germany,
  .england,
  .swiss,
  .china,
  .thailand,
  .south-korea,
  .italy {
    background-color: aliceblue;
    min-width: 14.2rem;
    min-height: 27rem;
    border-radius: 15px;
    border: 5px solid rgb(139, 138, 138);
    margin: 1rem;
  }
}
