* {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Epilogue", sans-serif;
    font-size: 1.3rem;
  }
  
  .logo {
    font-size: 1.3rem;
  }

  body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "nav"
    "main";

  }

 nav {
    grid-area: nav;
 }

 .logo {
    grid-area: logo;
 }

 main {
    grid-area: main;
 }