.layout {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header" 1fr
    "hero hero hero" 4fr
    "menu main main" 4fr
    "menu banner banner" 2fr
    "menu extra image" 2fr / 1fr 2fr 1fr;
}
