* {
    margin: 0px;
    padding: 0px;
}

layout {
    height: 100vh;
}

.header, .menu, .hero, .main {
    color: #FFF;
}

.header {
    background-color: #0f1629;
    grid-area: header;
}

.menu {
    background-color: #ef3d4d;
    grid-area: menu;
}

.hero {
    background-color: #4c86c6;
    grid-area: hero;
}

.main {
    background-color: #24344b;
    grid-area: main;
}

.banner {
    background-color: #fed269;
    grid-area: banner;
}

.extra {
    background-color: #4dbd97;
    grid-area: extra;
}

.image {
    background-color: #c1e4e6;
    grid-area: image;
}