/*Seletor de tipo*/
h1, h2, h3, h4, h5, h6{
    color: crimson;
}

p{
    color: black;
}

/*Seletor de classe*/
.small-heading {
    text-transform: uppercase;
    color: purple;
}

.list{
    color: green;
}

/*Seletor de id*/
#quote-by-author{
    background: lightgray;
    padding: 10px;
    line-height: 1.75;
}

#quarto-paragrafo{
    background: yellow;
}

article p{
    line-height: 2;
}

h6 .small-heading{ /*Selecionando todos os decendentes de h6 (filhos de h6 que tem a classe small-heading)*/
    color: red;
}

h6.small-heading{ /*Selecionando apenas o h6 que possui a classe small-heading*/
    color: blue;
}

.list > li { /*Aplica apenas aos filhos diretos*/
    color: crimson;
}

.list > li ul{
    color: crimson;
}